
</div>
  <div class="footer-padding"></div>
    <div class="footer">
      <p>
        Made with ❤️ by Deepak Laxkar ©</p>
        <span>
          <script>document.write( new Date().getFullYear() );</script>
        </span>
    </div>
  </div>
</body>
</html>
